/**** typeography *****/

* {
  font-family: 'Red Hat Text';
}

h2 {
  font-size: 24px;
  color: #C73B0F;
  font-weight: 700;
  padding-bottom: 24px;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  color: #87635A;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0px;
}



/**** components ****/

.cart-btn-content {
  position: relative;
  left: 1px;
  bottom: 30px;
}

.cart-btn {
  width: 160px;
  padding: 12px;
  font-size: 14px;
  border-radius: 999px;
  border: 1px solid #ad8a85;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #260F08;
  gap: 8px;
  position: absolute;
  left: 80px;
}

.quantity-content {
  display: none;
}
.quantity-btn {
  padding: 12px;
  background-color: #C73B0F;
  width: 138px;
  height: 21px;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 80px;
}

.decrease-btn,
.increase-btn {
  padding: 0;
  border-radius: 999px;
  border: none;
  background: transparent;
}

.bi-dash-circle,
.bi-plus-circle {
  font-size: 20px;
  color: #fff;
}

.quantity {
   font-size: 16px;
  color: #fff;
}
span {
 color:#C73B0F;
}

.input {
  color: #C73B0F;
  font-size: 24px;
  font-weight: 700;
}

.remove-btn {
  border: transparent;
  background: transparent;
}

.bi-x-circle {
  color: #87635A;
  font-size: 16px;
}

.product-price {
  color: #C73B0F;
}

.confirm-btn {
  margin-top: 24px;
  width: 100%;
  background-color:#C73B0F;
  border-radius: 999px;
  padding: 16px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/**** components ****/


/***** body *****/

.container {
  max-width: 375px;
  width: 87%;
  margin: 24px;
}

body {
  margin: 0;
  background-color: #fcf8f6;
}

/***** body *****/


/**** main-section ****/

.product-cards-and-cart {
  display: flex;
  flex-wrap: wrap;
}

/**** product-section ****/

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item-card {
  width: 100%;
  border-radius: 8px;
}

.item-card .product-image-desktop{display: none;}
.item-card .product-image-tablet{display: none;}
.item-card .product-image {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.card-text-content {
  margin-top: 24px;
}

/**** item-card ****/




/***** cart-section *****/

.cart-section {
  width: 93%;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-top: 32px;
}

.cart-text-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
}

.cart-placeholder-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}

.cart-image {
  width: 45%;
  margin-bottom: 16px;
}

.product-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 16px;
  gap: 16px;
}


.product-quantity {
  display: flex;
  gap: 8px;
}

.cart-price p{
  font-weight: 600
}

.cart-quantity {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: baseline;
}

.cart-quantity h4 {
  display: flex;
  justify-content: center;
}

.cart-quantity span {
  color: #C73B0F;
  margin-right: 8px;
}

.cart-total-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cart-total-content h2 {
  color:#260F08;
  padding: 0;
}

.cart-total-content h4 {
  color: #260F08;
}

.cart-cta {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 8px;
  padding: 16px;
  width: 247px;
  background-color: #FCF8F6;
  height: 20px;
}

.cta-text h4{
  color: #260F08;
}

.cart-cta .cta-text {
  color: #260F08;
  font-weight: 600;
  font-size: 14px;
}

/***** cart-section *****/



/***** media queries tableyt *****/

@media screen and (min-width: 768px) {

  /**** components ****/

  .cart-btn-content {
    position: relative;
    left: -54px;
  }

  /**** components ****/



  
  /**** body ****/

  .container {
    max-width: 1440px;
    width: 90%;
    margin: 40px;
  }

  /**** body ****/



  /**** main-section ****/

  .product-cards-and-cart {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  /*** product-section ***/
  
  .item-card {
    width: 31%;
    border-radius: 8px;
  }

  .item-card .product-image{display: none;}
  .item-card .product-image-desktop{display: none;}
  .item-card .product-image-tablet {
    display: block;
    border-radius: 8px;
    width: 100%;
    box-shadow: 3px 5px 9px -6px black;
  }

  /*** product-section ***/


  /*** cart-section ***/

  .cart-section {
    width: 90%;
    margin-top: 24px;
  }

  .cart-placeholder-content {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .cart-image {
    width: 20%;
  }

  /*** cart-section ***/

  
  /**** main-section ****/
}




/*** media queries desktop ***/

@media screen and (min-width:1440px) {

  /**** componenets ****/

  .cart-btn-content {
    position: relative;
    left: -26px;
  }


  /**** body ****/

  .container {
    max-width: 1440px;
    width: 94%;
    margin: 88px 50px;
    display: flex;
    flex-wrap: wrap;
  }

  /**** body ****/



  /**** main-section ****/

  .product-cards-and-cart {
    display: flex;
     justify-content: center;
  }


  /**** product-section ****/

  .products {
    width: 65%;
  }

  .item-card {
    width: 31%;
  }

  .item-card .product-image{display: none;}
  .item-card .product-image-tablet{display: none;}
  .item-card .product-image-desktop {
    display: block;
    width: 100%;
    border-radius: 8px;
  }

  /**** product-section ****/


  /**** cart-section ****/

  .cart-section {
    padding: 24px;
    width: 22%;
    height: 230px;
    height: 50%;
  }

  .cart-image {
    width: 30%;
  }

  
}



